@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&text=%3FBravo!");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body {
  align-items: center;
  background-image: radial-gradient(circle 448px at center, #000e0e 0%, #000000 47%, #2c0000 100%);
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  perspective: 1200px;
}

.board {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  position: relative;
  top: 20px;
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateZ(22deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.clone {
  display: none;
}

.cube {
  -webkit-animation: enter 600ms ease-out;
          animation: enter 600ms ease-out;
  transform-style: preserve-3d;
  transform: translateZ(0) scale(1);
  transition: all 350ms ease-out;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cube.flipped {
  pointer-events: none;
  transform: rotateY(180deg) translateZ(0) scale(1);
  transition: all 500ms ease-out;
}
.cube.matched {
  pointer-events: none;
  transform: rotateY(180deg) translateZ(0) scale(1);
  -webkit-animation: match 650ms ease-out;
          animation: match 650ms ease-out;
}

.face {
  outline: 2px solid transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: inset 0 0 2px 1px #342e23;
  height: 100px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 50%;
  width: 100px;
}

.face:nth-child(1) {
  background-color: rgb(150, 41, 41);
  cursor: pointer;
  transform: rotateY(0deg) translateZ(10px);
  transition: background 150ms ease-out;
}
.face:nth-child(1):before {
  background: url('jurassic-world-logo.png');
  background-size: contain;
  align-items: center;
  bottom: 0;
  color: #93794c;
  content: "";
  display: flex;
  font-family: "Fredoka One", cursive;
  font-size: 60px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.face:nth-child(2) {
  background-color: #6b1717;
  width: 20px;
  transform: rotateY(90deg) translateZ(90px);
}

.face:nth-child(3) {
  background-color: dodgerblue;
  transform: rotateY(180deg) translateZ(10px);
}

.face:nth-child(4) {
  background-color: #5d1919;
  width: 20px;
  transform: rotateY(270deg) translateZ(10px);
}

.face:nth-child(5) {
  background-color: #7d1212;
  height: 20px;
  transform: rotateX(90deg) translateZ(10px);
}

.face:nth-child(6) {
  background-color: #4f0a0a;
  height: 20px;
  transform: rotateX(-90deg) translateZ(90px);
}

.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  height: 100vh;
  top: 0;
  transition: all 500ms ease-out;
  z-index: 100;
  transform-style: preserve-3d;
  transform-origin-z: -200px;  
}
.overlay.hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-out;
}
.overlay.hidden .gameover {
  transform: translateY(60px);
  transition: all 300ms ease-out;
}

.gameover {
  align-items: center;
  background-color: #600;
  border-radius: 120px;
  border: 12px solid #480000;
  color: #fbc300;
  display: flex;
  font-family: "Fredoka One", sans-serif;
  font-size: 70px;
  height: 120px;
  width: 340px;
  justify-content: space-between;
  padding: 0 10px 0 30px;
  transform: translateY(0);
  transition: all 500ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.reset {
  background-color: #fbc300;
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 6px 0px 0px #f2a003;
  cursor: pointer;
  display: block;
  height: 94px;
  margin-left: 20px;
  position: relative;
  top: -3px;
  width: 96px;
}
.reset:active {
  box-shadow: none;
  top: 0;
}
.reset:focus {
  outline: 0;
}

[data-tile=dino_6] div:nth-child(3) {
  background: #fff8e7 url(dino_6.png) center center no-repeat;
  background-size: cover;
}

[data-tile=dino_1] div:nth-child(3) {
  background: #fff8e7 url(dino_1.png) bottom center no-repeat;
  background-size: cover;
}

[data-tile=dino_2] div:nth-child(3) {
  background: #fff8e7 url(dino_2.png) center center no-repeat;
  background-size: cover;
}

[data-tile=dino_3] div:nth-child(3) {
  background: #fff8e7 url(dino_3.png) center center no-repeat;
  background-size: cover;
}

[data-tile=dino_4] div:nth-child(3) {
  background: #fff8e7 url(dino_4.png) center center no-repeat;
  background-size: cover;
}

[data-tile=dino_5] div:nth-child(3) {
  background: #fff8e7 url(dino_5.png) center center no-repeat;
  background-size: cover;
}

audio {
  display: none;
}

@-webkit-keyframes enter {
  0% {
    transform: translateZ(-20px) scale(0.3);
  }
  50% {
    transform: translateZ(20px) scale(1.02);
  }
  100% {
    transform: translateZ(0) scale(1);
  }
}

@keyframes enter {
  0% {
    transform: translateZ(-20px) scale(0.3);
  }
  50% {
    transform: translateZ(20px) scale(1.02);
  }
  100% {
    transform: translateZ(0) scale(1);
  }
}
@-webkit-keyframes match {
  0% {
    transform: rotateY(180deg) translateZ(-15px);
  }
  50% {
    transform: rotateY(180deg) translateZ(10px);
  }
  100% {
    transform: rotateY(180deg) translateZ(0);
  }
}
@keyframes match {
  0% {
    transform: rotateY(180deg) translateZ(-15px);
  }
  50% {
    transform: rotateY(180deg) translateZ(10px);
  }
  100% {
    transform: rotateY(180deg) translateZ(0);
  }
}